In [1]:
import pandas as pd
import numpy as nb

In [2]:
h1b = "out.csv"

In [3]:
out_pd = pd.read_csv(h1b, encoding="iso-8859-1", low_memory=False)
out_pd.head()

,Unnamed: 0,Unnamed: 0.1,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,685,686,CERTIFIED,MICROSOFT CORPORATION,GENERAL AND OPERATIONS MANAGERS,"ASSISTANT GENERAL COUNSEL, CHIEF OF STAFF",Y,162989.0,2016.0,"REDMOND, WASHINGTON",-122.121512,47.673988
1,1003,1004,CERTIFIED,MICROSOFT CORPORATION,GENERAL AND OPERATIONS MANAGERS,"CORPORATE VICE PRESIDENT, CUSTOMER SERVICE AND...",Y,162989.0,2016.0,"REDMOND, WASHINGTON",-122.121512,47.673988
2,1473,1474,CERTIFIED,WIPRO LIMITED,GENERAL AND OPERATIONS MANAGERS,ACCOUNT DELIVERY HEAD,Y,106475.0,2016.0,"LINCOLN, NEBRASKA",-96.685198,40.825763
3,1679,1680,CERTIFIED,DELOITTE CONSULTING LLP,GENERAL AND OPERATIONS MANAGERS,MANAGER,Y,113318.0,2016.0,"MINNEAPOLIS, MINNESOTA",-93.265011,44.977753
4,1705,1706,CERTIFIED,WIPRO LIMITED,GENERAL AND OPERATIONS MANAGERS,ACCOUNT DELIVERY HEAD,Y,144893.0,2016.0,"LEXINGTON, MASSACHUSETTS",-71.228964,42.443037

In [10]:
mean_wages = out_pd.groupby(["EMPLOYER_NAME"])['PREVAILING_WAGE'].mean()
employer_count = out_pd.groupby(["EMPLOYER_NAME"])['FULL_TIME_POSITION'].count()
mean_wages

EMPLOYER_NAME
ACCENTURE LLP                                       77081.402697
COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION     70381.561148
DELOITTE CONSULTING LLP                             85027.672636
ERNST & YOUNG U.S. LLP                             104759.317946
HCL AMERICA, INC.                                   69879.275509
IBM INDIA PRIVATE LIMITED                          128918.776002
INFOSYS LIMITED                                     93261.613233
MICROSOFT CORPORATION                               89935.883281
TATA CONSULTANCY SERVICES LIMITED                   71986.620095
WIPRO LIMITED                                       72752.860715
Name: PREVAILING_WAGE, dtype: float64

In [12]:
employer_numbers = pd.DataFrame({"Average Wage":mean_wages,"Employee Count":employer_count})
employer_numbers

                                                  Average Wage  Employee Count
EMPLOYER_NAME
ACCENTURE LLP                                     77081.402697           33447
COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION   70381.561148           17528
DELOITTE CONSULTING LLP                           85027.672636           36742
ERNST & YOUNG U.S. LLP                           104759.317946           18232
HCL AMERICA, INC.                                 69879.275509           22678
IBM INDIA PRIVATE LIMITED                        128918.776002           34219
INFOSYS LIMITED                                   93261.613233          130592
MICROSOFT CORPORATION                             89935.883281           25576
TATA CONSULTANCY SERVICES LIMITED                 71986.620095           64726
WIPRO LIMITED                                     72752.860715           48117

In [13]:
employer_numbers.to_csv('graphdata.csv')