In [1]:
import pandas as pd
import numpy as np

In [2]:
visa = "h1b_kaggle.csv"
visa_df = pd.read_csv(visa)

visa_df.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

In [3]:
employers = visa_df["EMPLOYER_NAME"].value_counts()
top_employers = employers.head(10)
top_employers

INFOSYS LIMITED                                    130592
TATA CONSULTANCY SERVICES LIMITED                   64726
WIPRO LIMITED                                       48117
DELOITTE CONSULTING LLP                             36742
IBM INDIA PRIVATE LIMITED                           34219
ACCENTURE LLP                                       33447
MICROSOFT CORPORATION                               25576
HCL AMERICA, INC.                                   22678
ERNST & YOUNG U.S. LLP                              18232
COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION     17528
Name: EMPLOYER_NAME, dtype: int64

In [4]:
soc = visa_df["JOB_TITLE"].value_counts()
soc_names=soc.head(10)
soc_names

PROGRAMMER ANALYST          249038
SOFTWARE ENGINEER           121307
COMPUTER PROGRAMMER          70570
SYSTEMS ANALYST              61965
SOFTWARE DEVELOPER           42907
BUSINESS ANALYST             39681
COMPUTER SYSTEMS ANALYST     35086
TECHNOLOGY LEAD - US         28350
SENIOR SOFTWARE ENGINEER     27133
TECHNOLOGY ANALYST - US      26055
Name: JOB_TITLE, dtype: int64

In [5]:
cards = visa_df

In [6]:
cards_df = cards[(cards.EMPLOYER_NAME == "COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION") |
      (cards.EMPLOYER_NAME == "INFOSYS LIMITED") | 
      (cards.EMPLOYER_NAME == "TATA CONSULTANCY SERVICES LIMITED") |
      (cards.EMPLOYER_NAME == "WIPRO LIMITED") |
      (cards.EMPLOYER_NAME == "DELOITTE CONSULTING LLP") |
      (cards.EMPLOYER_NAME == "IBM INDIA PRIVATE LIMITED") |
      (cards.EMPLOYER_NAME == "ACCENTURE LLP") |
      (cards.EMPLOYER_NAME == "MICROSOFT CORPORATION") |
      (cards.EMPLOYER_NAME == "HCL AMERICA, INC.") |
      (cards.EMPLOYER_NAME == "ERNST & YOUNG U.S. LLP")]

In [7]:
cards_df.to_csv('out.csv')